body {
    font-family: "Times New Roman", Times, serif;
    background-color: #2a1d0e;
    color: #d4af37; /* Dark Yellow color */
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto 0 auto;
    position: relative;
    width: 80%;
    max-width: 1200px;
}

#counter {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #532c08;
}

#castle {
    border: 5px solid #532c08;
    box-shadow: 10px 10px 10px #532c08;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

#castle:hover {
    box-shadow: 6px 6px 6px #532c08;
}

#upgrades-container, #owned-upgrades, #skilling-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.upgrade, .skilling-btn {
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #532c08;
    padding: 10px 20px;
    background-color: #5a3d23;
    cursor: pointer;
    text-shadow: 1px 1px 1px #532c08;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    margin: 10px;
}

.upgrade:hover, .skilling-btn:hover {
    background-color: #e2c293;
    color: #2a1d0e;
    transform: scale(1.1);
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
