body {
    font-family: "Times New Roman", Times, serif;
    background-color: #2a1d0e;
    color: #e2c293;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    margin: 2% auto;
    position: relative;
    width: 95%;
    max-width: 1200px;
}

#counter {
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #532c08;
}

#castle {
    border: 5px solid #532c08;
    cursor: pointer;
    transition: transform 0.3s;
    animation: wobble 0.5s infinite alternate; /* Added animation for wobble effect */
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg); /* Adjust the angle for your desired wobble effect */
    }
}

#castle:hover {
    transform: scale(1.1) rotate(0deg); /* Adjust the scale and rotation as needed */
}

#upgrades-container, #owned-upgrades, #skilling-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.upgrade, .skilling-btn {
    font-size: 1.6rem;
    font-weight: bold;
    border: 2px solid #532c08;
    padding: 10px 20px;
    background-color: #5a3d23;
    cursor: pointer;
    text-shadow: 1px 1px 1px #532c08;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    margin: 10px;
}

.upgrade:hover, .skilling-btn:hover {
    background-color: #e2c293;
    color: #2a1d0e;
    transform: scale(1.1);
    box-shadow: 0px 0px 6px #532c08; /* Added box-shadow on hover for 3D effect */
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: 5% auto;
    }
    #counter {
        font-size: 1.8rem;
    }
    .upgrade, .skilling-btn {
        font-size: 1.4rem;
    }
            }
