body {
    font-family: "Times New Roman", Times, serif;
    background-color: #2a1d0e;
    color: #e2c293;
    margin: 0; /* Remove default margin for WebView */
    padding: 0; /* Remove default padding for WebView */
}

.container {
    margin-top: 50px;
    position: relative;
}

#counter {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #532c08;
}

#touch-number {
    position: absolute;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Added visibility transition */
    transform: translateY(-60%);
    opacity: 0;
    visibility: hidden; /* Initially hidden */
}

#castle {
    border: 5px solid #532c08;
    box-shadow: 10px 10px 10px #532c08;
    cursor: pointer;
}

#upgrades-container {
    display: flex;
    justify-content: space-around;
}

#owned-upgrades {
    display: flex;
    justify-content: space-around;
}

.upgrade {
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #532c08;
    padding: 10px;
    background-color: #5a3d23;
    cursor: pointer;
    text-shadow: 1px 1px 1px #532c08;
    transition: background-color 0.3s, transform 0.3s;
}

.upgrade:hover {
    background-color: #e2c293;
    color: #2a1d0e;
    transform: scale(1.1);
}

img {
    max-width: 100%;
    height: auto;
}

/* Add a class to trigger the fade-out effect */
.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
